body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-topo {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 15px;
    text-align: center;
}
.menu-topo a {
    color: rgb(251, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
.container {
    display: flex;
}
.menu-lateral {
    width: 250px;
    background-color: #100e0e;
    color: white;
    padding: 20px;
}
.menu-lateral a {
    display: block;
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin: 10px 0;
}
.conteudo {
    flex-grow: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.livro {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}
.livro img {
    width: 100px;
    height: 150px;
}